<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Evaluation des Enseignment </title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>

<div class="container spacer">
<a th:href="@{Etudiant/ajouterReponse}">Ajouter une reponse</a>
</div>
<div class="container spacer">
<a th:href="@{Etudiant/Index}">Liste des etudiants</a>
</div>

<div class="container spacer">
<a th:href="@{Etudiant/form}">Ajouter un Etudiant</a>
</div>

</body>
</html>